apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: skillfybank
  labels:
    app: notification-service
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
        version: v1
    spec:
      containers:
      - name: notification-service
        image: uttamkamar/notification-service:latest
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_ENVIRONMENT
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: LOG_LEVEL
        - name: ACCOUNT_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: ACCOUNT_SERVICE_URL
        - name: TRANSACTION_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: TRANSACTION_SERVICE_URL
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: skillfybank
spec:
  type: LoadBalancer
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
